@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 24% 7%;
    --foreground: 0 0% 92%;
    --card: 224 25% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 224 25% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 350 73% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 20% 16%;
    --secondary-foreground: 0 0% 92%;
    --muted: 225 22% 18%;
    --muted-foreground: 226 12% 70%;
    --accent: 350 68% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350 78% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 22% 22%;
    --input: 225 22% 22%;
    --ring: 350 78% 44%;
    --chart-1: 350 73% 44%;
    --chart-2: 225 38% 56%;
    --chart-3: 200 40% 48%;
    --chart-4: 35 70% 55%;
    --chart-5: 170 55% 45%;
    --radius: 0.5rem
  }
  .dark {
    --background: 220 24% 7%;
    --foreground: 0 0% 92%;
    --card: 224 25% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 224 25% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 350 73% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 20% 16%;
    --secondary-foreground: 0 0% 92%;
    --muted: 225 22% 18%;
    --muted-foreground: 226 12% 70%;
    --accent: 350 68% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350 78% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 22% 22%;
    --input: 225 22% 22%;
    --ring: 350 78% 44%;
    --chart-1: 350 73% 44%;
    --chart-2: 225 38% 56%;
    --chart-3: 200 40% 48%;
    --chart-4: 35 70% 55%;
    --chart-5: 170 55% 45%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    font-size: 22px;
    line-height: 1.35;
  }
}
