@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 6%;
    --foreground: 0 0% 90%;
    --card: 240 4% 9%;
    --card-foreground: 0 0% 96%;
    --popover: 240 4% 9%;
    --popover-foreground: 0 0% 96%;
    --primary: 350 73% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3% 14%;
    --secondary-foreground: 0 0% 92%;
    --muted: 240 3% 14%;
    --muted-foreground: 240 5% 65%;
    --accent: 350 68% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350 78% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 18%;
    --input: 240 2% 18%;
    --ring: 350 78% 44%;
    --chart-1: 350 73% 44%;
    --chart-2: 225 38% 56%;
    --chart-3: 200 40% 48%;
    --chart-4: 35 70% 55%;
    --chart-5: 170 55% 45%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240 5% 6%;
    --foreground: 0 0% 90%;
    --card: 240 4% 9%;
    --card-foreground: 0 0% 96%;
    --popover: 240 4% 9%;
    --popover-foreground: 0 0% 96%;
    --primary: 350 73% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3% 14%;
    --secondary-foreground: 0 0% 92%;
    --muted: 240 3% 14%;
    --muted-foreground: 240 5% 65%;
    --accent: 350 68% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350 78% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 18%;
    --input: 240 2% 18%;
    --ring: 350 78% 44%;
    --chart-1: 350 73% 44%;
    --chart-2: 225 38% 56%;
    --chart-3: 200 40% 48%;
    --chart-4: 35 70% 55%;
    --chart-5: 170 55% 45%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    font-size: 22px;
    line-height: 1.35;
  }
}
